.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
}

.current {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #319795;
  border: none;
  transition: background 0.2s;
}

.completed {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #319795;
  border: none;
  opacity: 0.6;
}

.incomplete {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  border: none;
}